.title {
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    height: 100%;
    width: 100%;
    align-items: center;
  }
  
  .Segment.Group {
    display: flex;
    align-items: center;
  }
  .ui.grid.cont {
    align-items: center;
    margin-left: 100px;
    width: 100%;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }
  .ui.centered.grid {
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    margin-left: 0;
  }
  
  