@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login.form {
    margin: 0 auto;
    max-width: 320px;
  }
  input[type="text"] {
    width: 300px;
  }
  .col-md-6.col-md-offset-3 {
    display: flex;
  }
  
}
