#login-cont {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
form {
  width: 500px;
  padding: 5px;
}
.form-control {
  width: 380px;
}
input[type="password"] {
  width: 380px;
}
input[type="text"] {
  width: 380px;
}
@media (min-width: 400px) and (max-width:900px) {
  form{
    
  }
}